<!doctype html>
<html class="no-js" lang="en">
	<head>
		<title>Gianmarco Fusaro | Portfolio &copy;</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Gianmarco Fusaro is a web developer living and working in Milano."/>
		<meta name="author" content="Gianmarco Fusaro">
		<meta name="copyright" content="© 2016 Gianmarco Fusaro">
		<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
		<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
		{{ "application.css" | asset_url | stylesheet_tag }}
		{% block styles %}{% endblock %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	</head>
	<body>
		{% include "header-h" %}
		{% include "about" %}
		{% block content %}{% endblock %}
		<div class="ply__projects_scroll--fix">
			<div class="interactionPrompt interactionPrompt--alt" style="visibility: inherit; opacity: 1;">
				<button class="arrowCta arrowCta--alt js-scroll" id='downClick'></button>
			</div>
		</div>
		{% include "footer" %}
		{% include "js-global" %}
		{% include "js-home" %}
	</body>
</html>