<div id="aboutBar" class="">
	<div class="closeIcon" id="closeBtn"> 
		<img src="assets/icons/close-01.svg" alt="close">
	</div>
	<div class="myAbout">
		<p>I'm an Italian Web Design student in Milan currently studying at SPD.</p>
		<br></br>
		<p>I started my path in childhood taking in pieces my toys to find out what's inside. This is the approach tath I've continued to use as personal method to explore, understand and learn.</p>
		<br></br>
		<p>I've got a real passion for web developing, in any project I challenge myself to find the best solution possible. I've lot of interests in different fields, this helps me to stay curious of what I have around and flexible for new experiences.</p>
		<br></br>
		<p>My next big dream is to travel around the world by a sailboat.</p>
		<br></br>
		<p>All the works presented are from 2016 Web Course Master. </p>
	</div>
</div>