<footer class="footer_foot">
	<ul class="foot_ulItem">
		<li class="foot_liItem">
			<a href="#" class="foot_link link--fx">GitHub</a>
		</li>
		<li class="foot_liItem">
			<a href="#" class="foot_link link--fx">LinkedIn</a>
		</li>
	</ul>
	<ul class="foot_ulItem--right">
		<li class="foot_liItem--right">
			<a href="mailto:gianmarco.fusaro@hotmail.it" title="contact" class="foot_link link--fx">gianmarco.fusaro@hotmail.it</a>
		</li>
	</ul>
</footer>