{% layout "l-projects" %}
{% block content %}
<main class="main_prj js-animation">
	<header class="header_prj js-in-out-item">
		<div class="header_prjAux--left">
			<span class="header_prjLabel">User Experience<span>
			<h1 class="header_prjTitle">
			ATM<span class="title_aux"> trails</span>
			<h1>
		</div>
		<div class="header_prjAux--right">
	<!-- 		<div class="header_prjBrief">
				<h4 class="brief_title">BRIEF</h4>
				<p class="brief_caption">this is a brief caption small and very short, this is a brief caption small and very short and useless</p>
			</div> -->
		</div>
	</header>
	<section class="section">
		<article class="article article-full js-in-out-item">
			<div class="section_pictureContainer-full"> <img class="section_picture" src="assets/img/atm-project-preview.jpg" alt="ipad view">
			</div>
			<div class="section_paragraphContainer-full">
				<h4 class="section_title">_ MAKE BIG CITY LIFE EASY</h4>
				<div class="paragraph-aux">
					<p class="section_paragraph-full">The project is focused on simplify the ticket purchasing and the overall clients experience on public transports, creating new tools and improving the usability of the existing vending machines. Based on our research we discovered strange behaviours of people for buying  </p>
					<p class="section_paragraph-full">
						the right ticket for their destination because of a lack of clearness by the transport company. The outcome is a web application designed to fill the gaps between the needs of the clients and the companies, clear and easy to be used daily.
					</p>
				</div>
			</div>
		</article>
		<article class="article article-full js-in-out-item">
			<video src="assets/videos/atm-behaviuors.mp4" controls="" style="width: 100%; height: 100%"></video>
			<div class="section_paragraphContainer-full">
				<h4 class="section_title--small">_ PEOPLE LOOK FOR THE SHORTER PATH</h4>
				<div class="paragraph-aux">
					<p class="section_paragraph-full">People prefer to buy tickets at kiosk insted from the vending machine because they know it's easier and faster. This is a signal that something doesn't work prperly.</p>
				</div>
		</article>
		<article class="article article-full js-in-out-item">
			<div class="section_paragraphContainer-full">
				<h4 class="section_title">_ CORE FUNCTIONALITIES</h4>
				<header class="paragraph_caption">QUICK PURCHASE SHORTCUT </header>
				<p class="section_paragraph-full">Buying a ticket on a kiosk requires an average time of 4 seconds, instead 30s on the vending machine. The shortcut allows to buy the most used ticket in the same amount of time on a smartphone.</p>
				<br></br>
				<header class="paragraph_caption">CONTRACT RECHARGE </header>
				<p class="section_paragraph-full">Recharging the travel card is always a big issue. This app send a warning before the contract expiration and the user can track the state of validity.</p>
				<br></br>
				<header class="paragraph_caption">BUY N' SEND </header>
				<p class="section_paragraph-full">Trough the "wallet" function it's possible to buy tickets in advantage manage the purchased and send them to your friends.</p>
				<br></br>
				<header class="paragraph_caption">GET IT FROM SEARCH </header>
				<p class="section_paragraph-full">Get tickets faster while searching places on map tools. Designed specifically for tourists and foreign people.</p>
			</div>
		</article>
		<article class="article article-fat js-in-out-item">
			 <img class="" src="assets/img/atm-contractRecap.jpg" alt="atm devices">
			 <img class="" src="assets/img/atm-wallet.jpg" alt="atm devices">
			<img class="" src="assets/img/atm-maptool.jpg" alt="atm devices">
		</article>

		<article class="article article-half js-in-out-item">
			<div class="section_pictureContainer-half">
				<video style="width: 80%; "id="atmProtoVideo" poster="" src="assets/videos/atm-1.mp4" preload="" loop="" autoplay=""></video>
			</div>
			<div class="section_paragraphContainer-half">
				<h4 class="section_title">_PROTOTYPE</h4>
				<div class="paragraph-aux">
					<p class="section_paragraph-full">The logo is developed in a dynamic and vibrant sense, mirroring the meaning of the word HYPER. "Hyper" is something that requires an increasing rate until it reaches a higher condition. All features contribute to give back the effect of dynamism, energy and this climax rhytm.</p>
				</div>
			</div>
		</article>

	</section>
	
	<div class="deliverables">
		<div class="del_container-left">
			<div class="del_el">
				<h6 class="del_label">PROJECT</h6>
				<p class="del_p">User experience</p>
			</div>
			<div class="del_el">
				<h6 class="del_label">DELIVERABLES</h6>
				<p class="del_p">Low-fi / mid-fi prototype, user testing</p>
			</div>
			<div class="del_el">
				<h6 class="del_label">TEAM</h6>
				<p class="del_p">Romy El Abiad</p>
				<p class="del_p">Roberta Gardiman</p>
				<p class="del_p">Virginia Valderrabano</p>
			</div>
		</div>
		<div class="del_container-right">
			<div class="del_el">
				<h6 class="del_label">DOWNLOAD</h6>
				<p class="del_p"><a href="https://drive.google.com/open?id=0B8VQ5GFKtP3rSW96SEVTQmNCdFk"><img class="icon-del" src="assets/icons/download.svg" alt="_">PDF (156mb)</a></p>
			</div>
			<div class="del_el">
				<h6 class="del_label">LINKS</h6>
				<p class="del_p"><a href="#"><img class="icon-del" src="assets/icons/link.svg" alt="_">HTML prototype</a></p>
				<p class="del_p"><a href="#"><img class="icon-del" src="assets/icons/link.svg" alt="_">Mobile prototype</a></p>
				<p class="del_p"><a href="#"><img class="icon-del" src="assets/icons/link.svg" alt="_">Desktop prototype</a></p>
			</div>
		</div>
	</div>
	<div class="projects-nav">
		<a href="wally.html">
			<div>
				<img class="prev_arrow" src="assets/icons/arw-left.svg" alt="previouvs project">
			</div>
		</a>
		<div><span>2/6</span></div>
		<a href="rayban.html">
			<div>
				<img class="next_arrow" src="assets/icons/arw-right.svg" alt="previouvs project">
			</div>
		</a>
	</div>
</main>
{% endblock %}