{% layout "l-projects" %}
{% block content %}
<main class="main_prj js-animation">
	<header class="header_prj js-in-out-item">
		<div class="header_prjAux--left">
			<span class="header_prjLabel">Brand Identity / digital strategY</span>
			<h1 class="header_prjTitle">
				Garage Italia Customs
				<span class="title_aux"></span>
			<h1>
		</div>
		<div class="header_prjAux--right">
		<!-- 	<div class="header_prjBrief">
				<h4 class="brief_title">BRIEF</h4>
				<p class="brief_caption">Refit Ray-Ban website design with the goal of maximizing user experience and revenues, focus on a campiang for the Holiday Season.</p>
			</div> -->
		</div>
	</header>
	<section class="section">
		<article class="article article-full  js-in-out-item">
			<div class="section_pictureContainer-full"> 
				<img class="section_picture" src="assets/img/garage-home.jpg" alt="garage italia homepage on device">
			</div>
			<div class="section_paragraphContainer-full">
				<h4 class="section_title">_ MAKE BIG CITY LIFE EASY</h4>
				<div class="paragraph-aux">
					<p class="section_paragraph-full">The project is focused on simplify the ticket purchasing and the overall clients experience on public transports, creating new tools and improving the usability of the existing vending machines. Based on our research we discovered strange behaviours of people for buying the right</p>
					<p class="section_paragraph-full">
						ticket for their destination because of a lack of clearness by the transport company and we tried to solve the problem. The outcome is a web application designed to fill the gaps between the needs of the clients and the companies, clear and easy to be used daily.
					</p>
				</div>
			</div>
		</article>

		<article class="article article-expanded  js-in-out-item">
			<img class="" src="assets/img/garage-i8comp.jpg" alt="atm devices">
		</article>

		<article class="article article-half  js-in-out-item">
			<div class="section_pictureContainer-half">
				<video style="width: 80%; "id="atmProtoVideo" poster="" src="assets/videos/garage-1.mp4" preload="" loop="" autoplay=""></video>
			</div>
			<div class="section_paragraphContainer-half">
				<h4 class="section_title">_not just B2C</h4>
				<div class="paragraph-aux">
					<p class="section_paragraph-full">
						Here’s what Garage Italia Customs
						can offer and do actually.
						The strong implementation with social and the engaging way to present the works
						is the key to spread the brand’s
						potencial, and show the B2B client
					the effectiveness of G.I. works</p>
				</div>
			</div>
		</article>
	</section>

	<div class="deliverables">
		<div class="del_container-left">
			<div class="del_el">
				<h6 class="del_label">PROJECT</h6>
				<p class="del_p">Digital Rebranding</p>
			</div>
			<div class="del_el">
				<h6 class="del_label">DELIVERABLES</h6>
				<p class="del_p">Visual Identity, Campaign, Product browsing</p>
			</div>
			<div class="del_el">
				<h6 class="del_label">TEAM</h6>
				<p class="del_p"><a href="diegobernalh.github.io">Diego Bernal</a></p>
				<p class="del_p">Francesca ROncari</p>
			</div>
		</div>
		<div class="del_container-right">
			<div class="del_el">
				<h6 class="del_label">DOWNLOAD</h6>
				<p class="del_p"><a href="https://drive.google.com/open?id=0B8VQ5GFKtP3rSW96SEVTQmNCdFk"><img class="icon-del" src="assets/icons/download.svg" alt="_">PDF (156mb)</a></p>
			</div>
			<div class="del_el">
				<h6 class="del_label">LINKS</h6>
				<p class="del_p"><a href="https://projects.invisionapp.com/share/NG81YB392#/screens/176102426"><img class="icon-del" src="assets/icons/link.svg" alt="_">InVision Prototype</a></p>
				
			</div>
		</div>
	</div>
	<div class="projects-nav">
		<a href="rayban.html">
			<div>
				<img class="prev_arrow" src="assets/icons/arw-left.svg" alt="previouvs project">
			</div>
		</a>
		<div><span>4/6</span></div>
		<a href="hyper.html">
			<div>
				<img class="next_arrow" src="assets/icons/arw-right.svg" alt="previouvs project">
			</div>
		</a>
	</div>
</main>
{% endblock %}