{% layout "l-projects" %}
{% block content %}
<main class="main_prj js-animation">
	<header class="header_prj js-in-out-item">
		<div class="header_prjAux--left">
			<span class="header_prjLabel">D-typography</span>
			<h1 class="header_prjTitle">HYPER
				<span class="title_aux"> magazine</span>
			</h1>
		</div>
		<div class="header_prjAux--right">
				<!-- <div class="header_prjBrief">
					<h4 class="brief_title">BRIEF</h4>
					<p class="brief_caption">Design a logo and create contents for a sci-fi digital magazine optimized for i-pad.</p>
				</div> -->
		</div>
	</header>
	<section class="section">
		<article class="article article-full js-in-out-item">
			<div class="section_pictureContainer-full"> <img class="section_picture" src="assets/img/hyper-project-cover.jpg" alt="ipad view">
			</div>
			<div class="section_paragraphContainer-full">
				<h4 class="section_title">_ ALWAYS ON BOARD</h4>
				<div class="paragraph-aux">
					<p class="section_paragraph-full">The home page is a live experience through which client can select his homeport. It's suppose to maintaining the feeling to be onboard on a wally yacht deck and bring the experience in digital.</p>
					<p class="section_paragraph-full">The video is continous streaming, so it's possible to see how the sea enviroment changes throughout the day hear the waves noise. </p>
				</div>
			</div>
		</article>
		<article class="article article-half js-in-out-item">
			<div class="section_pictureContainer-half">
				<video id="hyperVideo" poster="assets/img/hyper-videoposter.jpg" src="assets/videos/hyper.mp4" preload="" loop="" autoplay=""></video>
			</div>
			<div class="section_paragraphContainer-half">
				<h4 class="section_title--small">_ EDITED LOGO</h4>
				<div class="paragraph-aux">
					<p class="section_paragraph-full">The logo is developed in a dynamic and vibrant sense, mirroring the meaning of the word HYPER. "Hyper" is something that requires an increasing rate until it reaches a higher condition. All features contribute to give back the effect of dynamism, energy and this climax rhytm.</p>
				</div>
			</div>
		</article>
		<article class="article article-full-scroll js-in-out-item">
 			<div class="ipad-wrapper">
				<!-- <div class="mouse-wrap mouse-wrap-hyper noMobile" id="mouseFlag">
					<div class="mouse-tab mouse-tab-hyper">
						<div class="mouse">
							<div class="rail">
								<div class="track"></div>
							</div>
						</div>
					</div>
					<div class="closeMouse closeMouse-hyper" id="btnMouse"> <img src="icons/close-01.svg" alt="close"> </div>
				</div> -->
				<div class="ipad-content">
					<img class="section_picture-scrollInner" src="assets/img/hyper-scrollable-content.jpg" alt="ipad view">
				</div>
				<div class="ipad-frame">
					<img src="assets/img/empty-ipad2.png" alt="scrollable ipad">
				</div>
			</div>
		</article>
	</section>
	
	<div class="deliverables">
		<div class="del_container-left">
			<div class="del_el">
				<h6 class="del_label">PROJECT</h6>
				<p class="del_p">Digital Typography</p>
			</div>
			<div class="del_el">
				<h6 class="del_label">DELIVERABLES</h6>
				<p class="del_p">Visual Identity, Campaign, Product browsing</p>
			</div>
		</div>
		<div class="del_container-right">
			<div class="del_el">
				<h6 class="del_label">DOWNLOAD</h6>
				<p class="del_p"><a href="https://drive.google.com/open?id=0B8VQ5GFKtP3rSW96SEVTQmNCdFk"><img class="icon-del" src="assets/icons/download.svg" alt="_">PDF (156mb)</a></p>
			</div>
			<div class="del_el">
				<h6 class="del_label">LINKS</h6>
				<p class="del_p"><a href="#"><img class="icon-del" src="assets/icons/link.svg" alt="_">HTML prototype</a></p>
				
			</div>
		</div>
	</div>
	<div class="projects-nav">
		<a href="garageItalia.html">
			<div>
				<img class="prev_arrow" src="assets/icons/arw-left.svg" alt="previouvs project">
			</div>
		</a>
		<div><span>5/6</span></div>
		<a href="nike.html">
			<div>
				<img class="next_arrow" src="assets/icons/arw-right.svg" alt="previouvs project">
			</div>
		</a>
	</div>
</main>
{% endblock %}