{% layout "l-home" %}
{% block content %}
<main class="main__wrapper js-animation">
	<ul class="main_container" id="js-mainContainer">	
		<li class="main_preview js-in-out-item">
			<a href="wally.html" class="preview_link">
				<div class="main_previewAux">
					<img class="preview_pic" src="assets/img/wally_home_preview.jpg" alt= "test_pic" />
					<header class="preview_header">
						<span class="preview_label">art Direction</span>
						<h3 class="preview_title">Wally</h3>
					</header>
				</div>
			</a>
		</li>

		<li class="main_preview js-in-out-item">
			<a href="atm.html" class="preview_link">
				<div class="main_previewAux">
					<img class="preview_pic" src="assets/img/atm-home-preview.png" alt= "test_pic" />
					<header class="preview_header">
						<span class="preview_label">user experience</span>
						<h3 class="preview_title">ATM trails</h3>
					</header>
				</div>
			</a>
		</li>

		<li class="main_preview js-in-out-item">
			<a href="rayban.html" class="preview_link">
				<div class="main_previewAux">
					<img class="preview_pic" src="assets/img/rayban-home-preview.jpg" alt="test_pic" />
					<header class="preview_header">
						<span class="preview_label">eCommerce</span>
						<h3 class="preview_title">RayBan</h3>
					</header>
				</div>
			</a>
		</li>

		<li class="main_preview js-in-out-item">
			<a href="garageItalia.html" class="preview_link">
				<div class="main_previewAux">
					<img class="preview_pic" src="assets/img/garage-home-preview.jpg" alt= "test_pic" />
					<header class="preview_header">
						<span class="preview_label">rebranding</span>
						<h3 class="preview_title">Garage Italia Customs</h3>
					</header>
				</div>
			</a>
		</li>

		<li class="main_preview js-in-out-item">
			<a href="hyper.html" class="preview_link">
				<div class="main_previewAux">
					<img class="preview_pic" src="assets/img/hyper-home-preview-lightblue.jpg" alt= "test_pic" />
					<header class="preview_header">
						<span class="preview_label">digital typography</span>
						<h3 class="preview_title">Hyper Magazine</h3>
					</header>
				</div>
			</a>
		</li>

		<li class="main_preview js-in-out-item">
			<a href="nike.html" class="preview_link">
				<div class="main_previewAux">
					<img class="preview_pic" src="assets/img/nike-home-preview.png" alt= "test_pic" />
					<header class="preview_header">
						<span class="preview_label">Digital communication</span>
						<h3 class="preview_title">Nike</h3>
					</header>
				</div>
			</a>
		</li>
	</ul>
</main>
{% endblock %}