{% layout "l-playground" %}
{% block content %}
<main class="ply__wrapper">
	<ul class="ply__main_container">
		<li class="ply__main_preview" id="trigOne">
			<a href="#" class="ply__preview_link">
				<div class="ply__preview_header">
					<div class="ply__preview_header-aux">
						<h4 class="ply__preview_label">HTML / CSS</h4>
						<h5 class=" ply__preview_year">2016</h5>
					</div>
					<h3 class="preview_title ply__preview_title">CSS filter</h3>
				</div>
			</a>
		</li>

		<li class="ply__main_preview" id="trigTwo">
			<a href="#" class="ply__preview_link">
				<div class="ply__preview_header">
					<div class="ply__preview_header-aux">
						<h4 class="ply__preview_label">Sass / JS</h4>
						<h5 class=" ply__preview_year">2016</h5>
					</div>
					<h3 class="preview_title ply__preview_title">X-ray</h3>
				</div>
			</a>
		</li>

		<li class="ply__main_preview" id="trigThree">
			<a href="#" class="ply__preview_link">
				<div class="ply__preview_header">
					<div class="ply__preview_header-aux">
						<h4 class="ply__preview_label">HTML / Css</h4>
						<h5 class=" ply__preview_year">2016</h5>
					</div>
					<h3 class="preview_title ply__preview_title">Goo Filter</h3>
				</div>
			</a>
		</li>
	</ul>
	<div class="ply__projects_scroll ">
		<div class="interactionPrompt" style="visibility: inherit; opacity: 1;">
			<button class="arrowCta js-scroll"></button>
		</div>
	</div>
	<div class="ply__display" >
		<div class="ply__displayPic js-pic"  id="targetOne">
			<div class="x-body">
				<div class="x-wrapper">
					<section class="filter">
						<a class="filter__target" id="tag:cyan"></a>
						<a class="filter__target" id="tag:magenta"></a>
						<a class="filter__target" id="tag:yellow"></a>
						<a class="filter__target" id="tag:black"></a>
					<nav class="filter__nav">
						<a href="#tag:reset" class="filter__nav--item  filter__nav--itemReset">Reset</a>
						<a href="#tag:cyan" class="filter__nav--item">Cyan</a>
						<a href="#tag:magenta" class="filter__nav--item">Magenta</a>
						<a href="#tag:yellow" class="filter__nav--item">Yellow</a>
						<a href="#tag:black" class="filter__nav--item">Black</a>
					</nav>
						<div class="c-div filter__item" data-tag="cyan">
							<span>Cyan</span>
						</div>
						<div class="c-div filter__item" data-tag="magenta">
							<span>Magenta</span>
						</div>
						<div class="c-div filter__item" data-tag="yellow">
							<span>Yellow</span>
						</div>
						<div class="c-div filter__item" data-tag="black">
							<span>Black</span>
						</div>
					</section>
				</div>
			</div>
		</div>

		<div class="ply__displayPic js-pic" id="targetTwo" >
			<div class="x-body" >
				<div class="x-wrapper" >
					<svg>
						<rect fill="#424242" />
						<image class="rana" xlink:href="assets/img/rana.jpg"/>
					</svg>
					<svg class="xray__svg">
						<defs>
							<clipPath id="mask">
								<circle class="xraySvg__circle" id="mask--item" cx="50%" cy="50%" r="15%" style="fill: #ffffff" />
							</clipPath>
						</defs>
						<g clip-path="url(#mask)">
							<rect width="100%" height="100%" fill="transparent" />
							<image class="rana"xlink:href="assets/img/ranaX2.jpg"/>
						</g>
					</svg>
				</div>
			</div>
		</div>

		<div class="ply__displayPic js-pic" id="targetThree">
			<div class="x-body" >
				<div class="x-wrapper" id="ply">
					<div class="x-logo">
						<svg id="goo__svg" width="200" height="200" filter="url(#goo)">
							<defs>
								<filter id="goo">
									<feGaussianBlur in="SourceGraphic" stdDeviation="13" result="blur" />
									<feColorMatrix in="blur" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 18 -10" result="goo" />
									<feComposite in="SourceGraphic" in2="goo" operator="atop" />
								</filter>
							</defs>
							<circle id="circle1"></circle>
							<circle id="circle2"></circle>
							<circle id="circle3"></circle>
							<circle id="circle4"></circle>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}