{% layout "l-projects" %}
{% block content %}
<main class="main_prj js-animation">
	<header class="header_prj js-in-out-item">
		<div class="header_prjAux--left">
			<span class="header_prjLabel">E-commerce<span>
				<h1 class="header_prjTitle">RayBan<span class="title_aux"></span>
				<h1>
		</div>
		<div class="header_prjAux--right">
				<!-- <div class="header_prjBrief">
					<h4 class="brief_title">BRIEF</h4>
					<p class="brief_caption">Refit Ray-Ban website design with the goal of maximizing user experience and revenues, focus on a campiang for the Holiday Season.</p>
				</div> -->
		</div>
	</header>
	
	<section class="section">
		<article class="article article-full js-in-out-item">
			<div class="mac-wrapper">
			   <div class="mouseWrapper-mac">
					<div class="mouseFlag" id="mouseFlag">
						<div class="mouse">
							<div class="rail">
								<div class="track"></div>
							</div>
						</div>
						   <!--  <div class="closeMouse" id="btnMouse"> <img src="icons/close-02-01.svg" alt="close"> </div> -->
					</div>
				</div>
				<div class="mac-content"> 
					<img src="assets/img/rayban-scroll.jpg" alt="scrollable">
				</div>
				<div class=" mac-frame">
					<img src="assets/img/empty-mac-04.png" alt="scrollable mac">
				</div>
				<div class="section_paragraphContainer-full">
					<h4 class="section_title">_ VISUAL REFIT</h4>
					<div class="paragraph-aux">
						<p class="section_paragraph-full">The contents are arranged vertically and grouped in sections, now with different font hierarchy. An assymetric layout based on a triple overlapped grid allows to have dynamic flow but still structured.</p>
						<p class="section_paragraph-full">Overlapping texts and images is a technique from editorial field, in this case is used to give freshness to the page. </p>
					</div>
				</div>
			</div>
		</article>

		<article class="article article-full js-in-out-item">
			<div id="dBtn"></div>
			<div class="d_wrapper">
				<div class="d_container" id="dContainer">
					<div class="d_layer d_layer_1"><img src="assets/img/a1.png"></div>
					<div class="d_layer d_layer_2"><img src="assets/img/b2.png"></div>
					<div class="d_layer d_layer_3"><img src="assets/img/c3.png"></div>
				</div>
			</div> 
			<h4 class="section_title--small">_ EDITORIAL LAYOUT</h4>
			<div class="paragraph-aux">
				<p class="section_paragraph-full">The contents are arranged vertically and grouped in sections, now with different font hierarchy. An assymetric layout based on a triple overlapped grid allows to have dynamic flow but still structured.</p>
				<p class="section_paragraph-full">Overlapping texts and images is a technique from editorial field, in this case is used to give freshness to the page. </p>
			</div>
		</article>

		<article class="article article-half js-in-out-item">
			<div class="section_pictureContainer-half">
				 <img src="assets/img/rayban-uxGif.gif" alt="mobile UX flow" loop>
			</div>
			<div class="section_paragraphContainer-half">
				<h4 class="section_title">_MOBILE UX</h4>
				<div class="paragraph-aux">
					<p class="section_paragraph-full">Since Ray-Ban sells more than 2k of products online, the navigation is divided in steps to narrow down the results and creating a natural navigation flow to reach all products. The 4th step contains a hint with the most relevant products before "view all" CTA, to give a chance to get the right item as quick as possible.</p>
				</div>
			</div>
		</article>
	</section>

	<div class="deliverables">
		<div class="del_container-left">
			<div class="del_el">
				<h6 class="del_label">PROJECT</h6>
				<p class="del_p">User experience</p>
			</div>
			<div class="del_el">
				<h6 class="del_label">DELIVERABLES</h6>
				<p class="del_p">Visual Identity, Campaign, Product browsing</p>
			</div>
			<div class="del_el">
				<h6 class="del_label">TEAM</h6>
				<p class="del_p"><a href="diegobernalh.github.io">Diego Bernal</a></p>
				<p class="del_p">Matteo Barone</p>
				<p class="del_p">Anatasia Melnichenko</p>
			</div>
		</div>
		<div class="del_container-right">
			<div class="del_el">
				<h6 class="del_label">DOWNLOAD</h6>
				<p class="del_p"><a href="https://drive.google.com/open?id=0B8VQ5GFKtP3rSW96SEVTQmNCdFk"><img class="icon-del" src="assets/icons/download.svg" alt="_">PDF (156mb)</a></p>
			</div>
			<div class="del_el">
				<h6 class="del_label">LINKS</h6>
				<p class="del_p"><a href="#"><img class="icon-del" src="assets/icons/link.svg" alt="_">Demo</a></p>
				
			</div>
		</div>
	</div>

	<div class="projects-nav">
		<a href="atm.html">
			<div>
				<img class="prev_arrow" src="assets/icons/arw-left.svg" alt="previouvs project">
			</div>
		</a>
		<div><span>3/6</span></div>
		<a href="garageItalia.html">
			<div>
				<img class="next_arrow" src="assets/icons/arw-right.svg" alt="previouvs project">
			</div>
		</a>
	</div>
</main>
{% endblock %}