{% layout "l-projects" %}
{% block content %}
<main class="main_prj js-animation">
	<header class="header_prj js-in-out-item">
		<div class="header_prjAux--left">
			<span class="header_prjLabel">Art Direction<span>
				<h1 class="header_prjTitle">Wally<span class="title_aux">.com</span>
				<h1>
		</div>
		<div class="header_prjAux--right">
		<!-- 	<div class="header_prjBrief">
				<h4 class="brief_title">BRIEF</h4>
				<p class="brief_caption">Sketch an experience that focuses on transmitting all the values and qualities of your brand and product.</p>
			</div> -->
		</div>
	</header>
	<section class="section ">
		<article class="article article-full js-in-out-item">
			<div class="section_pictureContainer-full">
				<img class="section_picture" src="assets/img/wally-day-night.jpg" alt="atm devices" />
			</div>
			<div class="section_paragraphContainer-full">
				<h4 class="section_title">_ ALWAYS ON BOARD</h4>
				<div class="paragraph-aux">
					<p class="section_paragraph-full">The home page is a live experience through which client can select his homeport. It's suppose to maintaining the feeling to be onboard on a wally yacht deck and bring the experience in digital.</p>
					<p class="section_paragraph-full">The video is continous streaming, so it's possible to see how the sea enviroment changes throughout the day hear the waves noise. </p>
					</div>
				</div>
		</article>
		<article class="article article-half js-in-out-item">
			<div class="section_pictureContainer-half">
				<img class="section_picture-half" src="assets/img/wally-shoe.jpg" alt="atm devices" />
			</div>
				<div class="section_paragraphContainer-half">
					<h4 class="section_title--small">_ ENGAGING EXPLORATION</h4>
					<div class="paragraph-aux">
						<p class="section_paragraph-full">As the compass is the preferred tool for sailors, it can be used as engaging function to show and let exploring the product maintaining the "fil rouge" with the yachting lifestyle.</p>
					</div>
				</div>
		</article>
		<article class="article article-full js-in-out-item">
			<div class="section_pictureContainer-full">
				<img class="section_picture" src="assets/img/wally-campaign-outerProtection.jpg" alt="atm devices" />
			</div>
			<div class="section_pictureContainer-combo">
				<img class="section_picture-comboLeft" src="assets/img//wally-campaign-lightweight.jpg" alt="atm devices">
				<img class="section_picture-comboright" src="assets/img//wally-campaign-hiFriction.jpg" alt="atm devices">
			</div>
			<div class="section_paragraphContainer-full">
				<h4 class="section_title--small">_ CAMPAIGN</h4>
				<div class="paragraph-aux">
					<p class="section_paragraph-full">The campaing is tought to highlight the technical feature of the product and suggest the client the enviroment where the shoes could be worn. </p>
				</div>
			</div>
		</article>
		<article class="article article-half js-in-out-item">
			<div class="section_pictureContainer-half">
				<img class="section_picture-half" src="assets/img/wally-ipad.png" alt="atm devices" />
			</div>
			<div class="section_paragraphContainer-half">
				<h4 class="section_title">_ MOBILE EXPERIENCE</h4>
				<div class="paragraph-aux">
					<p class="section_paragraph-full">Products can be explored in a more attractive way from mobile. While rotating the device, the product follows the movements.</p>
				</div>
			</div>
		</article>
	</section>
		<!-- -->
	<div class="deliverables">
		<div class="del_container-left">
			<div class="del_el">
				<h6 class="del_label">PROJECT</h6>
				<p class="del_p">Digital Art Direction</p>
			</div>
			<div class="del_el">
				<h6 class="del_label">DELIVERABLES</h6>
				<p class="del_p">Visual Identity, Campaign, Product browsing</p>
			</div>
		</div>
		<div class="del_container-right">
			<div class="del_el">
				<h6 class="del_label">DOWNLOAD</h6>
				<p class="del_p"><a href="https://drive.google.com/open?id=0B8VQ5GFKtP3rSW96SEVTQmNCdFk">
					<img class="icon-del" src="assets/icons/download.svg" alt="_">PDF (156mb)</a>
				</p>
			</div>
		</div>
	</div>
	<div class="projects-nav">
		<a href="index.html">
			<div>
				<img class="prev_arrow" src="assets/icons/arw-left.svg" alt="previouvs project" />
			</div>
		</a>
		<div><span>1/6</span></div>
		<a href="atm.html">
			<div>
				<img class="next_arrow" src="assets/icons/arw-right.svg" alt="previouvs project" />
			</div>
		</a>
	</div>
</main>
	{% endblock %}